$blue: #4C87FC;
$dark-blue: darken($blue, 7.5%);
$darker-blue: darken($blue, 10%);
$light-blue: lighten($blue, 7.5%);

$red: #f95e7a;
$dark-red: darken($red, 15%);
$darker-red: darken($red, 10%);
$light-red: lighten($red, 17.5%);